doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Treehouse Profile
    <link rel="stylesheet" href="/static/css/style.css">



  body
    if errorStatus
      #error There was an error getting the profile for new. (Not Found)
    img#searchIcon(src='http://i.imgur.com/VKKm0pn.png' alt='Magnifying Glass')
    form(action='/profile' method='POST')
      input#username(type='text' placeholder='Enter a Treehouse username' name='username')
      input.button(type='submit' value='search')
